<table class="table">
  <thead>
    <tr>
      <th><%= I18n.t("category") %></th>
      <th><%= I18n.t("text") %></th>
      <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
    <% @chucks.each do |chuck| %>
      <tr>
        <td><%= chuck.category %></td>
        <td><%= chuck.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="pagination" class="row">
  <%= paginate @chucks %>
</div>
<div id="search" class="row">
<%= link_to I18n.t("search"), search_path(I18n.locale), class: "btn btn-primary" %>
<%= link_to I18n.t("random"), random_path(I18n.locale), class: "btn btn-primary" %>
</div>

<br>
