<p id="notice"><%= notice %></p>

<h1>Chucks</h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("category") %></th>
      <th><%= I18n.t("text") %></th>
      <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
    <% @chucks.each do |chuck| %>
      <tr>
        <td><%= chuck.category %></td>
        <td><%= chuck.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @chucks %>
<%= link_to I18n.t("search"), search_path(I18n.locale) %>

<br>
